<%- include('./partials/navegation'); %>
<main>
    <section class="services">
        <div class="container-fluid px-4">
            <h1 class="my-4">Serviços</h1>
            <div class="card mb-4">
                <div class="card-body">
                    <section class="services">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-12 col-md-3 service-item">
                                    <div class="card h-100">
                                        <!-- Product image-->
                                        <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                                        <!-- Product details-->
                                        <div class="card-body p-4">
                                            <div class="text-center">
                                                <!-- Product name-->
                                                <h5 class="fw-bolder">Nome do Serviço</h5>
                                                <!-- Product price-->
                                                R$ 40.00
                                                <!-- Product price-->
                                                <p>Texto de Descrição</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </section>
</main>
<%- include('./partials/footer'); %>
